@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;800&display=swap');

body{
    
    font-family: 'Heebo', sans-serif;

    background-color: rgb(57, 14, 77);
    margin: 0;
    font-size:16px
  
}
 
*{

    box-sizing: border-box;
    margin: 0;
    padding:0 ;
    outline:none;
}

.contenter{

    max-width: 700px;
    background-color: rgb(255, 255, 255);
    margin: 40px auto;
    padding: 30px;
    border-radius: 18px;
    animation: fadeInright 1s ease;
}   
@keyframes fadeInright {
    0%{
        transform: translateX(40px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
    
} 

.home-box.hide{
    display: none;
}

.quiz-box.hide{
    display: none;
}
.result-box.hide{
    display: none;
}

.contenter::before,.contenter::after{
    content: '';
    clear: both;
    display: table;
}

h2 {
    margin-bottom: 15px ;
    line-height: 25px;
    font-size: 18px;
    color: rgb(119, 0, 255) ;
    font-weight: 500;

}

p{
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 22px;
    color: rgb(0, 0, 0);
    font-weight: 400;
      
}
span{
    font-weight: 500;
}

.one{

    margin-top: 20px;
}
.one{
    padding: 15px 45px;
    background-color: rgb(25, 90, 99) ;
    color: rgb(255, 255, 255) ;
    font-family: 'Heebo', sans-serif; 
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer; 
    display:inline-block;


}

.two{
    padding: 15px 45px;
    background-color: rgb(107, 177, 171) ;
    color: rgb(255, 255, 255) ;
    font-family: 'Heebo', sans-serif; 
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer; 
    margin: 15px 0;
    text-transform: uppercase;


}
.contenter .question-text,.question-number,.option-question,.answers-indicator, .next-button{
    width: 100%;
    float: left;
}


.question-number{
font-size: 18px;
color: teal;
font-weight: 600;
border-bottom: 1px solid #cccccc;
padding-bottom: 10px;

line-height: 25px;

}

.contenter .question-text{
    
    font-size: 22px;
    color: #000000;
    line-height: 28px;
    font-weight: 800;
    padding: 20px 0;
    margin: 0;  

}

.contenter .option-question .option{
    background-color: rgb(121, 119, 119);
    padding: 13px 15px;
    font-size: 16px;
    line-height: 22px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    /* text-transform: capitalize; */
    opacity: 1;
    animation: fadeIn 0.3s ease forwards ;
    position: relative;
    overflow: hidden;
}
.contenter .option-question .option.already-answered{
    pointer-events: none;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1; 
    }
}

.contenter .option-question .option.correct::before{
    content:''; 
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(21, 163, 21) ;
    z-index: -1 ;
    animation: slideInLeft .5s ease forwards
}
/* .contenter .option-question .option.correct.already-answered{
    pointer-events: none;

} */
@keyframes slideInLest{
    0%{
        transform: translateX(-100);
    }
    100%{
        transform: translateX(0);
    }
}
.contenter .option-question .option.wrong::before{
    content:''; 
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 0, 0) ;
    z-index: -1 ;
    animation: slideInLeft .5s ease forwards
}
.contenter .option-question .option.wrong{
    color: #ffffff;
}
.contenter .option-question .option.correct{
    color: #ffffff;    
}
.contenter .answers-indicator {
    border-top: 1px solid #cccccc;
}

.contenter .answers-indicator div {
    
   
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #cccccc;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 15px;
    margin-left: 15px;
}

.contenter .answers-indicator div.correct{
    

    background-color:rgb(21, 163, 21);
    
    background-image: url('../correct.png');
    background-size: 50%;
    background-repeat:no-repeat;
    background-position:center;
}

.contenter .answers-indicator div.wrong{
     
    background-color:rgb(255, 0, 0);
    background-image: url('../wrong.png');
    background-size: 50%;
    background-repeat:no-repeat;
    background-position:center;
}
    

.numer{
padding:  8px;
    color: rgb(254, 255, 255);
    
    text-align:center;
}


.result-box{
    text-align:center;
}
.result-box.hide{
    display: none ;
}

.result-box h2{

    font-size: 36px;
    line-height: 42px;
    color: rgb(40, 97, 97);
}

.result-box table{
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}
.result-box table td {
    border: 1px solid #000000;
    padding: 8px 15px ;
    font-weight: 500;
    color: #000000;
    width: 50%;
    text-align:left ;
    font-size: 18px;
    text-transform: uppercase;

}

.TAY-BOX{
    margin-right: 20px;
}

@media(max-width: 767px){
    .result-box .TAY-BOX{
        margin-bottom: 15px;
    }
    body{
        padding:15px ;
    }

}

